<ng-template #template>
  <div class="modal-header">
    <h2 class="modal-title">{{ 'address.doctor.suggestion.title' | translate }}</h2>
    <button
      type="button"
      class="close"
      [title]="'dialog.close.text' | translate"
      [attr.aria-label]="'dialog.close.text' | translate"
      (click)="hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body address-suggestions-body">
    <p>{{ 'address.doctor.suggestion.text.1' | translate }} {{ 'address.doctor.suggestion.text.2' | translate }}</p>
    <h3>{{ 'address.doctor.suggestion.actual.address' | translate }}</h3>
    <label class="col-12">
      <input type="radio" name="address-suggestion" checked="checked" [value]="address.id" (change)="change(address)" />
      {{ address.addressLine1 }}, {{ address.addressLine2 }}, {{ address.postalCode }}, {{ address.city }}
    </label>
    <ng-container *ngIf="suggestions$ | async as suggestions">
      <h3>{{ 'address.doctor.suggestion.proposals' | translate }}</h3>
      <ng-container *ngFor="let suggestion of suggestions; let i = index">
        <label class="col-12">
          <input type="radio" name="address-suggestion" [value]="i" (change)="change(suggestion)" />
          {{ suggestion.addressLine1 }}, {{ suggestion.postalCode }},
          {{ suggestion.city }}
        </label>
        <br />
      </ng-container>
    </ng-container>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirm()" data-testing-id="confirm">
      {{ 'address.doctor.suggestion.confirm' | translate }}
    </button>
  </div>
</ng-template>
