<div class="line-item-attributes">
  <ng-container *ngIf="!displayInputFields(); else inputFields">
    <span class="line-item-attributes-info span-separator">{{ 'line-item.partialOrderNo.label' | translate }}</span>
    <span>{{ lineItem.partialOrderNo }}</span
    ><br />

    <span class="line-item-attributes-info span-separator">{{ 'line-item.customerProductID.label' | translate }}</span>
    <span>{{ lineItem.customerProductID }}</span>
    <br />
    <a
      *ngIf="editable"
      [routerLink]="[]"
      class="btn-tool"
      (click)="requestChangeableFields()"
      title="{{ 'line-item-attribute.edit.button.label' | translate }}"
    >
      {{ 'line-item-attribute.edit.button.label' | translate }}
    </a>
  </ng-container>
  <ng-template #inputFields>
    <div *ngIf="editable">
      <form [formGroup]="extendedAttributesForm" (ngSubmit)="onSubmit()" data-testing-id="extended-attributes-form">
        <formly-form [form]="extendedAttributesForm" [fields]="fields" [model]="model"></formly-form>
        <div class="row">
          <div class="offset-md-4 col-md-8">
            <button type="submit" class="btn btn-primary">
              {{ 'line-item-attribute.apply.button.label' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>
